@import url("https://fonts.googleapis.com/css2?family=Creepster&family=ZCOOL+KuaiLe&family=ZCOOL+XiaoWei:wght@200;400;500;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Mobile First goes under here and is normally anything
   that you want to be painted as under 576px */
/* Also contains default CSS reset */

body {
    color: #fafafa;
    overflow: hidden;
    font-size: .6rem;
}

.height-30 {
    max-height: 30vh;
    padding-bottom: 3.5rem;
}

#animated-border-container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#story-container {
    height: 100vh;
    position: relative;
}

#story_border {
    width: 100vw;
    height: 70vh;
}

#story-title {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#story-paragraph {
    width: 90vw;
}

#story-choices {
    min-width: 100vw;
}

#story-headline h1,
#landing-content {
    font-size: .8rem;
}

.landing-image {
    height: 40vh;
    max-width: 100vw;
    object-fit: contain;
}

.story {
    position: relative;
    top: 15rem;
}

.begin-story-button {
    position: relative;
}

.story-button {
    width: 100%;
}

.creepy-text {
    color: red;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.cursed-text {
    font-family: Creepster, cursive;
}

.story-text {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: .8rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.next-choice,
.next-step {
    min-width: 33%;
    max-width: 33%;
    padding: 5%;
}

.next-choice,
.credits-button,
#end-story,
#next-step,
#begin-button {
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: visible;
    outline: none;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: .3em;
    line-height: 1.6;
    text-shadow: none;
    opacity: .2;
    transition: all .3s ease-in-out;
    animation: flash 6s infinite;
}

.next-choice:hover,
#next-step:hover {
    animation: changeFont 1s forwards;
}

@keyframes changeFont {
    0%, 15% {
        opacity: 0;
    } 15%, 20% {
        color: rgb(240, 129, 1);
        font-family: Creepster, cursive;
        opacity: 0;
    } 20%, 100% {
        font-family: Creepster, cursive;
        opacity: 1;
    }
}

.fade-out {
    transition: all .3s ease-in-out;
    opacity: 1;
    animation: fadeOut .6s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.fade-in {
    transition: all .3s ease-in-out;
    opacity: 0;
    animation: fadeIn .6s forwards;
}

.fade-in-long {
    animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.fade-mostly {
    transition: all .3s ease-in-out;
    opacity: 1;
    animation: fadeMostly .4s forwards;
}

@keyframes fadeMostly {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0.2;
    }
}

footer {
    position: absolute;
    bottom: 1.5rem;
    z-index: 2000;
    left: 0;
    width: 100vw;
    font-size: 1.1rem;
    letter-spacing: .3em;
    text-align: center;
}

/* Media queries */

@media screen and (min-width: 576px) {

    body {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {

    #story_border {
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .landing-image {
        height: 60vh;
    }
}

@media screen and (min-width: 1366px) {
    #story-headline h1,
    #landing-content {
        font-size: 1.2rem;
    }
    .story-text {
        font-family: 'ZCOOL XiaoWei', serif;
        font-size: 1.25rem;
        letter-spacing: 2px;
        line-height: 2.5rem;
    }
    #story-paragraph {
        width: 70vw;
    }
}